{% extends 'AppBlog/padre.html' %}

{% load static %}

{% block contenido_avatar %}

    <img class='mx-2' height='50px' src='{{url}}' alt='Avatar' title='Avatar'>

{% endblock %}

{% block titulo_header %}

    <h1>Sobre Nosotros</h1>
    <span class='subheading'>Conocemos un poco más</span>

{% endblock %}

{% block contenido_principal %}

    <main class='mb-4'>
        <div class='container px-4 px-lg-5'>
            <div class='row gx-4 gx-lg-5 justify-content-center'>
                <div class='col-md-10 col-lg-8 col-xl-7'>
                    <p>Este blog te contará las aventuras y desventuras de dos personajes por las distintas latitudes de este mundo.</p>
                    <p>Al igual que muchos, estamos dando nuestros primeros pasos de exploradores, y de a poco hemos empezado a contemplar aquellas tierras descubiertas, con civilizaciones colmadas de cultura, vida y un perpetuo legado de historia.</p>
                    <p>Para compartir aventuras es importante conocernos un poco, hasta donde las palabras puedan alcanzar. Hoy nos toca compartir nuestro pequeño rincón y dejar que leas una parte de nuestra historia. La solapa de un libro brinda datos sobre el autor. De igual manera, nuestra solapa te entregará a los autores de este libro de viaje.</p>
                    <img class='img-fluid' src='{% static "AppBlog/assets/img/about.jpg" %}' alt='Sobre Nosotros' title='Sobre Nosotros' loading='lazy'>
                    <button type='button' class='btn btn-primary position-relative mt-3'>
                        <a href='{% url "Inicio" %}' style='color: white;'>IR A INICIO</a>
                    </button>
                </div>
            </div>
        </div>
    </main>

{% endblock %}